.avatar {
  margin-bottom: 20px;
}
.avatar picture {
  display: block;
  width: 100px;
}
.avatar img {
  width: 100%;
}
.avatar img.disabled {
  opacity: 0.5;
}

.avatar picture.img-small {
  width: 50px;
}

.avatar picture.img-large {
  width: 150px;
}